# ignore specific files
.gitignore
scripts/install-dotfiles.sh
scripts/hyprland-overrides.conf
scripts/install-hyprland-overrides.sh
scripts/system-tweaks.sh

# git rm --cached <path/to/file>

# Ignore all files with a certain extension
# *.log

# Ignore a directory
# temp_files/